header{
    .carousel{
        .bg-content{
            background-size: cover; 
            width: 100%; 
            height: 75vh;
            filter: brightness(60%);
        }
        .content{
            top: 20%;
            width: 60vw;
            height: 270px;
            overflow: hidden;
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: rgb(223, 200, 223);
                }
            }
        }
    }
}
