{% load static %}
<footer class="container border-top pt-3 mt-4">
    <div class="row d-flex justify-content-md-around">
        <div class="col-md-3 mb-3 p-1 d-flex d-md-block">
            <div class="brand d-flex mx-auto">
                <img src="{% static 'asset/logo.png' %}" alt="wk">
                <span class="my-auto">wkNews</span>
            </div>
        </div>
        <div class="col-md-2 mb-3 col-6">
            <h4><a href="/indonesia">Indonesia</a></h4>
            <ul class="nav flex-column">
                <li class="nav-item"><a href="/indonesia/ekonomi">Ekonomi</a></li>
                <li class="nav-item"><a href="/indonesia/sosial-dan-budaya">Sosial dan Budaya</a></li>
                <li class="nav-item"><a href="/indonesia/pemerintahan">Pemerintahan</a></li>
                <li class="nav-item"><a href="/indonesia/lainnya">Lainnya</a></li>
            </ul>
        </div>
        <div class="col-md-2 mb-3 col-6">
            <h4><a href="/dunia">Dunia</a></h4>
            <ul class="nav flex-column">
                <li class="nav-item"><a href="/dunia/ekonomi">Ekonomi</a></li>
                <li class="nav-item"><a href="/dunia/sosial-dan-budaya">Sosial dan Budaya</a></li>
                <li class="nav-item"><a href="/dunia/pemerintahan">Pemerintahan</a></li>
                <li class="nav-item"><a href="/dunia/lainnya">Lainnya</a></li>
            </ul>
        </div>
        <div class="col-md-2 mb-3 col-6">
            <h3><a href="/kesehatan">Kesehatan</a></h3>
            <ul class="nav flex-column">
                <li class="nav-item"><a href="/kesehatan/olahraga">Olahraga</a></li>
                <li class="nav-item"><a href="/kesehatan/pola-hidup">Pola Hidup</a></li>
                <li class="nav-item"><a href="/kesehatan/makanan">Makanan</a></li>
                <li class="nav-item"><a href="/kesehatan/lainnya">Lainnya</a></li>
            </ul>
        </div>
        <div class="col-md-2 mb-3 col-6">
            <h3><a href="/teknologi">Teknologi</a></h3>
            <h3><a href="/pendidikan">Pendidikan</a></h3>
        </div>
    </div>
    <div class="border-top mb-3 pt-1 row justify-content-between">
        <p class="col-6">© 2022 wkwkNews. All rights reserved.</p>
        <div class="social-media col-6 text-end">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</footer>