{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container">
    <div class="row content justify-content-around mt-5">
        <!-- Search -->
        <h3 class="mb-3 pt-2">Berita Terkait "{{ search }}"</h3>
        <!-- Main Post -->
        {% if post %}
        <div class="col-md-12 p-2">
            <a class="card main-post" href="{{ post.getUrl }}">
                <div class="row g-0">
                    <div class="col-md-5 img-fluid rounded-start"
                        style="background-image: url('{{ post.image.url }}');"></div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text"><small class="text-muted">{{ post.author }}, {{ post.time }}</small></p>
                            <p class="card-text">{{post.body}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% else %}
        <h4 class=" text-center mt-5 mb-5 pb-2 pt-5">Berita Terkait "{{ search }}" Tidak Ditemukan</h4>
        {% endif %}
        <!-- Other Post -->
        {% for post in posts %}
        {% if post %}
        <div class="col-lg-6 p-2">
            <a class="card post" href="{{ post.getUrl }}">
                <div class="row g-0">
                    <div class="col-md-5 img-fluid rounded-start"
                        style="background-image: url('{{ post.image.url }}');"></div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text"><small class="text-muted">{{ post.author }},
                                    {{ post.time }}</small></p>
                            <p class="card-text">{{ post.body }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </main>
{% endblock content %}